<div class='row'>
  <div class='col-md-6'>
    <h2 id='heading' data-plant='{{plant_id}}'>Link the location record</h2>
    
    <div class='col-md-12'>
      <p>The plant id is ::{{plant_id}}</p>
      {{#if allLocations.length}}
        <div class='col-md-12 project-list'>
          <h3>Locations</h3>

          {{#each allLocations as |location|}}
            <div class='card'>
              <div class='row mb-2'>
                <div class='col-md-8'>
                  <h4><a
                      href='/api/locations/{{location.id}}/plants'
                    >{{location.name}}</a></h4>
                </div>
                <div class='col-md-4'>

                  <button
                    class='btn btn-sm link-btn-cls'
                    id='link-btn'
                    data-location='{{location.id}}'
                  >Link</button>
                </div>
              </div>
            </div>

          {{/each}}
        </div>
      {{/if}}

    </div>

  </div>

</div>

<script src='/js/linkLocation.js'></script>